@using Wkkim.Blog.Web.Models.ViewModels
@model LoginViewModel


@{
    ViewData["Title"] = "Login";
}

<div class=" container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3 h3">
                Login
            </h1>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" asp-for="UserName" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" asp-for="Password" />
                </div>

                <div>
                    <input type="checkbox" id="RememberMe" asp-for="RememberMe"/>
                    <label for="RememberMe">Remember Me</label>
                </div>

                <!-- Flexbox를 사용하여 버튼 정렬 -->
                <div class="mb-3 d-flex justify-content-between">
                    <button type="submit" class="btn btn-dark">Login</button>
                    <a asp-controller="Account" asp-action="Register" class="ms-auto">Register</a>
                </div>

                <input hidden asp-for="ReturnUrl" />
            </form>
        </div>
    </div>
</div>