
<div class="col-lg-6 col-md-6 position-relative">
    <div class="contact-email">
        <h4>BOOK YOUR TRIAL, IT'S FREE.</h4>
        <form id="Subscribe-massage2">
            <div class="row justify-content-center gap-3">
                <input type="text" name="firstName" autocomplete="off" id="firstName" class="col-md-5 col-sm-12 col-12" placeholder="First Name" required>
                <input type="text" name="lastName" autocomplete="off" id="lastName" class="col-md-5 col-sm-12 col-12" placeholder="Last Name" required>
                <input type="email" name="emailAddress" autocomplete="off" id="emailAddress" class="col-md-5 col-sm-12 col-12" placeholder="Email Address" required>
                <input type="tel" name="phoneNo" autocomplete="off" id="phoneNo" class="col-md-5 col-sm-12 col-12" placeholder="Phone Number" required>
                <textarea class="col-md-11 col-12" name="message" id="message" cols="30" rows="10" placeholder="Write here message" required></textarea>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="e-btn hover2" type="submit">Book A Tour</button>
            </div>
        </form>
    </div>
</div>
<div id="Succes-box2"></div>